body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Asap;
    background-color: rgb(53, 53, 60);
    color: rgb(209, 236, 240);
}

.container {
    text-align: center;      
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#title-text {
    font-size: 1.8em;
    text-decoration: underline;
}

#equationText {
    font-size: 1.6em;
}

#answer-buttons {
    font-size: 1.3em;
    font-weight: bold;  
}   

#menuScreen button {
    width: 200px;
    height: 50px;
    margin: 10px 0;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#gameScreen button{
    width: 150px;
    height: 50px;
    margin: 0px 5px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#gameOverScreen #gameOverText {
    font-size: 2em;
}

#gameOverScreen p {
    font-size: 1.2em;
}

#gameOverScreen .scoreInt {
    font-weight: bold;
}

#gameOverScreen button {
    width: 200px;
    height: 50px;
    margin: 20px 0;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
}

.progress {
    width: 100%;
    height: 5px;
    background: rgb(53, 53, 60);
    margin-bottom: 10px;
    display: flex;
    justify-content: center
}

.progress-inner {
    background: green;
    height: 100%;
    width: 100%;
}

